.item {
  color: black;
}
.avatar {
  height: 60px;
  width: 60px;
  background-image: url('https://klike.net/uploads/posts/2019-03/1551511784_4.jpg');
  background-size: cover;
  border-radius: 50%;
}
